[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ortools = "*"
pyyaml = "*"

[dev-packages]
hypothesis = "*"
ruff = "*"
mypy = "*"
types-pyyaml = "*"

[requires]
python_version = "3.14"
